body{
    height: 100vh;
    text-align: center;
}

.description {
    margin: 0;
}

.crossKeyDescription{
    margin: 0;
}

.settingOfRowAndCol{
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-basis: auto; */
    
    margin: 0 auto;
}

.settingOfRowAndCol select{
    height: 5%;
}

#inputRow {
    text-align: center;
}

#inputCol {
    text-align: center;
}

.generateMazeButton{
    height: 40px;
}

#crossKey{
    height: 80px;
}

#upKey{
    margin-top: 5px;
}
