@font-face {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    src: url("https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c");
  }
  

body{
    height: 100vh;
    text-align: center;
    /* font-family: "Gill Sans"; */
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

.description {
    margin: 0;
}

.crossKeyDescription{
    margin: 0;
}

.settingOfRowAndCol{
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-basis: auto; */
    
    margin: 0 auto;
}

.settingOfRowAndCol select{
    height: 5%;
}

#inputRow {
    text-align: center;
}

#inputCol {
    text-align: center;
}

.generateMazeButton{
    height: 40px;
}

#crossKey{
    height: 80px;
}

#upKey{
    margin-top: 5px;
}

.clearMessage {
    display: table;
    margin: 0 auto;
}

#message{
    margin: 0 auto;
    display: table-cell;
    vertical-align: middle;


    font-size: 5vh;
    /* border: 1px solid black; */

    width: 55vh;
    height: 20vh;
}
